.telegram {
    align-items: center;
    background: linear-gradient(0deg, #229ed9, #2aabee);
    border-radius: 8px;
    bottom: 60px;
    box-shadow:
        inset 0 2px 4px #ffffff40,
        inset 0 -2px 4px #00000040;
    cursor: pointer;
    display: flex;
    height: 58px;
    justify-content: center;
    position: fixed;
    right: 30px;
    width: 58px;
    z-index: 999;
    svg {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    // .telegram__message
    &__message {
    }

    // .telegram__cube

    &__cube {
        background: linear-gradient(0deg, #229ed9, #2aabee);
        border-radius: 8px;
        bottom: 0;
        content: "";
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -2;
        // .telegram__cube_first
        &_first {
            animation: cube-animation-1 3.5s infinite;
            height: 100%;
            width: 100%;
        }

        // .telegram__cube_second

        &_second {
            animation: cube-animation-2 3.5s infinite;
            height: 70%;
            transform-origin: 50% 50% 0;
            width: 70%;
        }

        // .telegram__cube_third

        &_third {
            animation: cube-animation-3 3.5s infinite;
            height: 70%;
            transform-origin: 50% 50% 0;
            width: 70%;
        }
    }
}
@keyframes cube-animation-1 {
    0%,
    42.86% {
        animation-timing-function: ease-in-out;
        opacity: 0.66;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(2.39);
    }
}
@keyframes cube-animation-2 {
    0%,
    42.86% {
        animation-timing-function: ease-in-out;
        opacity: 0.66;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(3.17);
    }
}
@keyframes cube-animation-3 {
    0%,
    42.86% {
        animation-timing-function: ease-in-out;
        opacity: 0.66;
        transform: scale(0.42);
    }

    to {
        opacity: 0;
        transform: scale(2.79);
    }
}

.block-intro {
    position: relative;
    min-height: 100vh;
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    transition:
        padding-top 0.3s,
        padding-bottom 0.3s;
    .open-quiz & {
        padding-top: 90px;
        padding-bottom: 40px;
    }
    @media (max-width: 992px) {
        min-height: 100%;
    }
    .container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
    /*
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
        background: #000;
        opacity: 0.5;
    }
    */
    video {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1;
        object-fit: cover;
        .open-quiz & {
            filter: grayscale(1) blur(2px);
        }
    }

    // .block-intro__content

    &__content {
        flex: 1 1 auto;
        position: relative;
        z-index: 10;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        margin: 0 auto;
        text-align: center;
        .open-quiz & {
            display: none;
        }
        .title1 {
            font-family: var(--third-family);

            width: 100%;
            text-align: center;
            font-size: 50px;
            font-weight: 900;
            letter-spacing: -1.5px;
            line-height: 120%;
            text-transform: uppercase;
            span {
                color: #f43939;
            }
            @media (max-width: 768px) {
                font-size: 32px;
                br {
                    display: none;
                }
            }
            @media (max-width: 480px) {
                font-size: 26px;
            }
        }
        .btn {
            margin-top: 30px;
            @media (max-width: 768px) {
                margin-top: 23px;
            }
            @media (max-width: 480px) {
                margin-top: 16px;
            }
        }
    }

    // .block-intro__subtitle

    &__subtitle {
        font-size: 22px;
        font-weight: 500;
        line-height: 120%;
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
}

.block-intro-brands {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 40px;
    z-index: 15;
    .open-quiz & {
        display: none;
    }
    @media (max-width: 768px) {
        bottom: 30px;
    }

    // .block-intro-brands__slider

    &__slider {
    }

    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
        gap: 10px;
    }

    &__slide {
        height: 40px;
        display: flex;
        padding: 5px 10px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.5);
        img {
            height: 100%;
            width: auto;
        }
    }
}

.block-intro-brands {
    position: absolute;
    left: 0;
    bottom: 40px;
    z-index: 15;
    .open-quiz & {
        display: none;
    }
    @media (max-width: 768px) {
        bottom: 30px;
    }
    // .block-intro-brands__slider

    &__slider {
        overflow: visible;
    }

    // .block-intro-brands__wrapper

    &__wrapper {
        gap: 10px;
    }

    // .block-intro-brands__slide

    &__slide {
        flex: 0 0 auto;
        width: auto;
        overflow: hidden;
        height: 40px;
        padding: 5px 10px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.5);
        img {
            width: auto;
            height: 40px;
        }
    }
}

.block-quiz {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease;
    .open-quiz & {
        visibility: visible;
        opacity: 1;
        max-height: 1000px;
    }
    // .block-quiz__back

    &__back {
        cursor: pointer;
        align-items: center;
        background: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        display: flex;
        gap: 10px;
        font-size: 16px;
        line-height: 130%;
        font-weight: 600;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }

    // .block-quiz__content

    &__content {
        background-color: #fff;
        border-radius: 30px;
        height: 100%;
        padding: 24px 30px;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        min-width: 0;
        @media (max-width: 768px) {
            border-radius: 20px;
            padding: 20px;
            gap: 20px;
        }
    }

    // .block-quiz__slider

    &__slider {
        width: 100%;
    }

    // .block-quiz__wrapper

    &__wrapper {
    }

    // .block-quiz__slide

    &__slide {
        display: flex;
        height: auto;
        width: 100%;
        height: 474px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        @media (max-width: 768px) {
            height: 468px;
        }
    }

    // .block-quiz__item

    &__item {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;

        @media (max-width: 768px) {
            gap: 16px;
        }
    }

    // .block-quiz__title

    &__title {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: -0.3px;
        line-height: 120%;
        color: #0d0f1f;
        @media (max-width: 768px) {
            font-size: 22px;
        }
        @media (max-width: 480px) {
            font-size: 18px;
        }
    }

    // .block-quiz__answers

    &__answers {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: 768px) {
            gap: 8px;
            grid-template-columns: 1fr;
        }
    }

    // .block-quiz__image

    &__image {
        border-radius: 12px;
        cursor: pointer;
        display: flex;
        gap: 20px;
        overflow: hidden;
        padding: 20px;
        position: relative;
        align-items: flex-end;
        height: 170px;
        @media (max-width: 768px) {
            align-items: center;
            background-color: #f7f7f7;
            border: 1px solid #cdd0d6;
            gap: 16px;
            padding: 16px;
            height: auto;
            transition:
                border 0.3s,
                background-color 0.3s;
            &:hover {
                background: #fde9e9;
                border-color: #f43939;
                .block-quiz__text {
                    color: #f43939;
                }
                .block-quiz__radio {
                    background-color: #f43939;
                    &::before {
                        content: "";
                        opacity: 1;
                    }
                }
            }
            &.selected {
                .block-quiz__radio {
                    background-color: #f43939;
                    &::before {
                        content: "";
                        opacity: 1;
                    }
                }
            }
        }
        &:hover {
            &::before {
                content: "";
                opacity: 0;
            }
        }
        &::before {
            content: "";
            background-color: #0006;
            transition: 0.3s;
            z-index: 1;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            @media (max-width: 768px) {
                display: none;
            }
        }
        &::after {
            content: "";
            background: linear-gradient(180deg, transparent, #00182e);
            z-index: 1;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            @media (max-width: 768px) {
                display: none;
            }
        }
        img {
            aspect-ratio: 306 / 170;
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 0;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    // .block-quiz__radio

    &__radio {
        background-color: transparent;
        border: 2px solid #f43939;
        border-radius: 50%;
        flex-shrink: 0;
        height: 16px;
        flex: 0 0 16px;
        position: relative;
        width: 16px;
        transition: background-color 0.3s;
        display: none;
        @media (max-width: 768px) {
            display: flex;
        }
        &::before {
            content: "";
            background-color: #fff;
            border-radius: 50%;
            height: 8px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            opacity: 0;
        }
    }

    // .block-quiz__text

    &__text {
        position: relative;
        transition: color 0.3s;
        display: flex;
        z-index: 10;
        font-size: 16px;
        line-height: 130%;
        font-weight: 600;
        @media (max-width: 768px) {
            font-size: 14px;
            gap: 8px;
            font-weight: 500;
            font-size: 14px;
            font-weight: 600;
            color: #0d0f1f;
        }
    }

    // .block-quiz__bottom

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: flex-end;
        margin-top: auto;
    }

    // .block-quiz__text2

    &__text2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        align-items: center;
        display: flex;
        gap: 8px;
        color: #0d0f1f;
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    // .block-quiz__nav

    &__nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: relative;
        gap: 20px;
    }

    // .block-quiz__pagination

    &__pagination {
        position: relative !important;
        overflow: hidden;
        border-radius: 99px;
        height: 8px !important;
        background: #f7f7f7;
        .swiper-pagination-progressbar-fill {
            border-radius: 99px;
            background-color: #f7f7f7;
            transition: background-color 0.3s;
            .open-quiz & {
                background-color: #f43939;
            }
        }
    }

    // .block-quiz__fraction

    &__fraction {
        flex: 0 0 auto;
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        color: #0d0f1f;
        display: flex;
    }
}
.block-quiz-last {
    display: flex;
    gap: 32px;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        color: #0d0f1f;
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
    // .block-quiz-last__left

    &__left {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 16px;
    }

    // .block-quiz-last__options

    &__options {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 8px;
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    // .block-quiz-last__option

    &__option {
        pointer-events: none;
        align-items: end;
        background-position: 50%;
        background-size: cover;
        border-radius: 12px;
        color: #fff;
        display: flex;
        height: 114px;
        overflow: hidden;
        padding: 20px;
        position: relative;
        &:last-child:nth-child(odd) {
            grid-column: 1/-1;
        }
        @media (max-width: 768px) {
            align-items: center;
            background-color: #f7f7f7;
            border: 1px solid #cdd0d6;
            gap: 16px;
            padding: 16px;
            height: auto;
            transition:
                border 0.3s,
                background-color 0.3s;
            &:hover {
                background: #fde9e9;
                border-color: #f43939;
                .block-quiz__text {
                    color: #f43939;
                }
                .block-quiz__radio {
                    background-color: #f43939;
                    &::before {
                        content: "";
                        opacity: 1;
                    }
                }
            }
            &.selected {
                .block-quiz__radio {
                    background-color: #f43939;
                    &::before {
                        content: "";
                        opacity: 1;
                    }
                }
            }
        }
        img {
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
            @media (max-width: 768px) {
                display: none;
            }
        }
        &::before {
            content: "";
            background: linear-gradient(180deg, transparent, #00182e);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    // .block-quiz-last__text

    &__text {
        position: relative;
        transition: color 0.3s;
        display: flex;
        z-index: 10;
        font-size: 16px;
        line-height: 130%;
        font-weight: 600;
        svg {
            display: none;
            @media (max-width: 768px) {
                display: block;
            }
        }
        @media (max-width: 768px) {
            font-size: 14px;
            gap: 8px;
            font-weight: 500;
            font-size: 14px;
            font-weight: 600;
            color: #0d0f1f;
        }
    }

    // .block-quiz-last__right

    &__right {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 768px) {
            gap: 20px;
        }
        .form {
            .btn {
                min-height: 55px;
            }
            .form__text {
                color: #0d0f1f;
            }
        }
    }
}

.block-quiz-timer {
    align-items: center;
    background: #fde9e9;
    border: 1px solid #f9b6b6;
    border-radius: 12px;
    color: #f43939;
    display: flex;
    gap: 14px;
    padding: 9px 14px;
    @media (max-width: 768px) {
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 12px 14px;
    }
    // .block-quiz-timer__icon

    &__icon {
        align-items: center;
        background: #fff;
        border: 1px solid #f9b6b6;
        border-radius: 50%;
        display: flex;
        flex-shrink: 0;
        height: 40px;
        justify-content: center;
        width: 40px;
    }

    // .block-quiz-timer__text

    &__text {
        max-width: 320px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        span {
            font-weight: 600;
        }
        @media (max-width: 768px) {
            width: calc(100% - 54px);
        }
    }

    // .block-quiz-timer__timer

    &__timer {
        background: #fff;
        border: 1px solid #f9b6b6;
        border-radius: 8px;
        flex-shrink: 0;
        margin-left: auto;
        padding: 6px 10px;
        text-align: center;
        width: 66px;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}
