.footer {
    background: #0d0f1f;
    padding: 20px 0;
    // .footer__content

    &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @media (max-width: 992px) {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 16px;
        }
        p,
        a {
            font-size: 14px;
            font-weight: 400;
            line-height: 130%;
        }
        a {
            transition: color 0.3s;
            text-decoration: underline;
            &:hover {
                color: #f43939;
            }
        }
    }

    // .footer__text

    &__text {
        max-width: 410px;
    }

    // .footer__descr

    &__descr {
    }
}
