.select {
    min-width: 0;
    position: relative;
    // .select__body
    &__body {
        position: relative;
    }
    // .select__title
    &__title {
        color: inherit;
        text-align: left;
        border-radius: 10px;
        background-color: #d9d9d9;
        transition: border-radius 0.3s;
        cursor: pointer;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 113%;
        color: #727272;
        padding: 5px 50px 5px 23px;
        display: flex;
        align-items: center;
        gap: 6px;
        height: 40px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 14px;
            top: 14px;
            transition: transform 0.3s;
            width: 12px;
            height: 12px;
            display: block;
            background-size: 100% 100%;
            background-image: url("../img/icon/arrow6.svg");
            transition: filter 0.3s;
        }
        ._select-open & {
            &::after {
                content: "";
                transform: rotate(-180deg);
            }
        }
    }
    // .select__value
    &__value {
        display: flex;
        min-width: 0;
        overflow: hidden;
        align-items: center;
        flex: 1 1 auto;
    }

    // .select__row
    &__row {
        display: flex;
        align-items: center;
    }
    // .select__content
    &__content {
        flex: 1 1 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    // .select__text
    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    // .select__options
    &__options {
        position: absolute;
        top: 100%;
        min-width: 100%;
        left: 0;
        background-color: #fff;
        padding: 10px 0px 5px 0px;
        max-height: 115px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    // .select__option
    &__option {
        width: 100%;
        text-align: left;
        cursor: pointer;
        padding: 4px 20px;
        color: inherit;
        font-weight: 400;
        font-size: 16px;
        line-height: 113%;
        color: #727272;
        transition: color 0.3s;
        &:hover {
            color: var(--theme-color-accent);
        }
    }
}
