.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
  z-index: 100;
  background-color: transparent;
  transition:
    background-color 0.3s,
    padding-top 0.3s,
    padding-bottom 0.3s;
  @media (max-width: 1100px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &._header-scroll,
  .menu-open & {
    background-color: #fff;
  }
  &._header-scroll {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  // .header__content

  &__content {
    display: flex;
    align-items: center;
    gap: 35px;
    @media (max-width: 768px) {
      gap: 15px;
    }
    .phone {
      margin: 0px 0px 0px 10px;
      @media (max-width: 1317px) {
        margin: 0px 0px 0px 0px;
      }
      @media (max-width: 768px) {
        order: 2;
        margin-left: auto;
      }
      @media (max-width: 355px) {
        gap: 5px;
        font-size: 12px;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  // .header__logo

  &__logo {
    display: flex;
    @media (max-width: 768px) {
      order: 1;
    }
    img {
      height: 55px;
      width: auto;
      @media (max-width: 768px) {
        height: 42px;
      }
      &.logo-desc {
        @media (max-width: 768px) {
          display: none;
        }
      }
      &.logo-mob {
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }
    }
  }

  // .header__menu

  &__menu {
    flex: 1 1 auto;
    margin: 0px 0px 0px 35px;
    @media (max-width: 1317px) {
      margin: 0px 0px 0px 0px;
    }
    @media (max-width: 1100px) {
      position: absolute;
      z-index: 100;
      top: 100%;
      right: -100%;
      width: 320px;
      height: calc(100vh - 100%);
      background-color: #fff;
      transition: right 0.3s;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .menu-open & {
        right: 0;
      }
    }
    @media (max-width: 480px) {
      width: 100%;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 55px;
      @media (max-width: 1317px) {
        gap: 20px;
        justify-content: center;
      }
      @media (max-width: 1100px) {
        justify-content: start;
        flex: 0 1 auto;
        padding: 30px 20px;
        flex-direction: column;
      }
      @media (max-width: 480px) {
        align-items: center;
        width: 100%;
      }
      li {
        @media (max-width: 480px) {
          display: flex;
          justify-content: center;
          width: 100%;
        }
        a {
          font-weight: 500;
          font-size: 15px;
          text-transform: uppercase;
          transition: color 0.3s;
          &:hover {
            color: var(--theme-color-accent);
          }
          @media (max-width: 480px) {
            text-align: center;
          }
        }
      }
    }
  }

  // .header__icon

  &__icon {
    display: none;
    @media (max-width: 1100px) {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 11px;
      width: 42px;
      height: 42px;
      box-shadow: inset 0 4px 4px 0 rgba(112, 16, 27, 0.25);
      background: linear-gradient(224deg, #f93c3c 0%, #cd0973 100%);
      flex: 0 0 42px;
    }
    @media (max-width: 768px) {
      order: 4;
    }
  }
}

.header-lang {
  position: relative;
  @media (max-width: 1100px) {
    margin-left: auto;
  }
  @media (max-width: 768px) {
    order: 3;
    margin-left: 0px;
  }
  &.active {
    ul {
      opacity: 1;
      pointer-events: auto;
    }
    .header-lang__arrow {
      transform: rotate(-90deg);
    }
  }
  span {
    display: block;
    margin: 3px 0px 0px 0px;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    text-transform: uppercase;
    @media (max-width: 550px) {
      display: none;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 100%;
    width: 100%;
    margin: 5px 0px 0px 0px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    li {
      width: 100%;
      a {
        display: flex;
        align-items: center;
        gap: 4px;
        justify-content: space-between;
        @media (max-width: 768px) {
          justify-content: flex-end;
        }
      }
    }
  }
  // .header-lang__title

  &__title {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  // .header-lang__arrow

  &__arrow {
    display: block;
    width: 6px;
    height: 7px;
    transform: rotate(90deg);
    transition: transform 0.3s;
    margin: 0px 3px 0px 2px;
  }

  // .header-lang__flag

  &__flag {
    border: 1px solid #cfcdcd;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.icon-menu {
  position: relative;
  width: 22px;
  height: 17px;
  cursor: pointer;
  z-index: 5;
  display: block;
  span,
  &::before,
  &::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 44px;
    background-color: #fff;
    transition: background-color 0.3s;
  }
  &::before {
    top: 0;
    width: 17px;
  }
  &::after {
    bottom: 0;
    width: 17px;
  }
  span {
    top: calc(50% - 1.5px);
  }
  .menu-open & {
    &::before {
      width: 100%;
      top: calc(50% - 1.5px);
      transform: rotate(-45deg);
    }
    span {
      width: 0;
    }
    &::after {
      content: "";
      width: 100%;
      bottom: calc(50% - 1.5px);
      transform: rotate(45deg);
    }
  }
}
