.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.3s;
  padding: 14px 0pc;
  &._header-scroll {
    background-color: #1f2029cc;
  }
  // .header__content

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  // .header__logo

  &__logo {
    display: flex;
    img {
      height: 45px;
      width: auto;
      @media (max-width: 768px) {
        height: 35px;
      }
      @media (max-width: 550px) {
        width: 100%;
        max-width: 155px;
        height: auto;
      }
    }
  }

  // .header__right

  &__right {
    flex: 0 0 auto;
    display: flex;
    gap: 14px;
    align-items: center;
    @media (max-width: 768px) {
      gap: 10px;
    }
    .btn {
      font-family: var(--font-family);
      min-height: 38px;
      padding: 10px 16px;
      font-size: 14px;
      font-weight: 600;
      text-transform: none;
      font-family: var(--font-family);
      @media (max-width: 768px) {
        padding: 8px 12px;
        min-height: 30px;
        font-size: 12px;
      }
    }
  }

  // .header__phone

  &__phone {
    gap: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    a {
      align-items: center;
      display: flex;
      gap: 6px;
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      transition: color 0.3s;
      &:hover {
        color: #f43939;
      }
      @media (max-width: 768px) {
        font-size: 12px;
      }
      @media (max-width: 550px) {
        span {
          display: none;
        }
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  // .header__text

  &__text {
    font-size: 12px;
    line-height: 130%;
    font-weight: 500;
    @media (max-width: 768px) {
      font-size: 10px;
    }
    @media (max-width: 550px) {
      display: none;
    }
  }
}
