.main-wrapper-outer {
  width: 100%;
  min-height: 100%;
  max-width: var(--main-outer-width);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-image: url("../img/bg1.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
  padding: 0px 10px;
}
