body::after {
    content: "";
    background-color: rgba(8, 30, 22, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.popup-show body::after {
    opacity: 1;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    transform: scale(1);
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__content {
    position: relative;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    width: 100%;
    overflow: hidden;
    max-width: 518px;
    background-color: #fff;
    padding: 50px 27px 28px 43px;
    .lock & {
        visibility: visible;
    }
    @media (max-width: 480px) {
        padding: 50px 10px 30px 10px;
    }
}

.popup__close {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: opacity 0.3s;
    img {
        width: 21px;
        height: 23px;
    }
    &:hover {
        opacity: 0.7;
    }
}

.popup {
    // .popup__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    // .popup__top

    &__top {
        display: flex;
        flex-direction: column;
        gap: 18px;
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 113%;
            text-align: center;
            color: #000;
        }
    }

    // .popup__title

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 113%;
        text-align: center;
        color: #000;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .btn {
        background: linear-gradient(165deg, #ff458b 0%, #008fb6 100%);
    }
    // .form__inputs

    &__inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    // .form__input

    &__input {
        background: #d9d9d9;
        .input {
            width: 100%;
            height: 40px;
            padding: 5px 23px;
            font-weight: 400;
            font-size: 16px;
            line-height: 113%;
            color: #727272;
            &::placeholder {
                color: #727272;
            }
            &.textarea {
                padding: 11px 23px;
                resize: none;
                height: 133px;
            }
        }
    }

    // .form__files

    &__files {
        background: #d9d9d9;
        position: relative;
        height: 120px;
        padding: 20px;
        input {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        p {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 400;
            font-size: 14px;
            line-height: 113%;
            text-align: center;
            color: #727272;
        }
        .previews {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            font-weight: 600;
            font-size: 14px;
            line-height: 113%;
            color: #000;
        }
        .preview-item {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    // .form__file

    &__file {
    }

    // .form__text

    &__text {
        width: 100%;
        font-weight: 300;
        font-size: 14px;
        line-height: 113%;
        text-align: center;
        color: #6f6f6f;
    }
}
