body::after {
    content: "";
    background: rgba(31, 40, 53, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.popup-show body::after {
    opacity: 1;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    transform: scale(1);
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__content {
    position: relative;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    width: 100%;
    overflow: hidden;
    max-width: 510px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    .lock & {
        visibility: visible;
    }
}

.popup__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    transition: opacity 0.3;
    img {
        width: 11px;
        height: 11px;
    }
    &:hover {
        opacity: 0.7;
    }
}

.popup {
    // .popup__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: #0d0f1f;
        @media (max-width: 768px) {
            gap: 20px;
        }
    }

    // .popup__top

    &__top {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 768px) {
            gap: 20px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }

    // .popup__title

    &__title {
        font-family: var(--third-family);
        color: #0d0f1f;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: -0.3px;
        line-height: 120%;
        @media (max-width: 768px) {
            font-size: 22px;
        }
        @media (max-width: 480px) {
            font-size: 18px;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 768px) {
        gap: 20px;
    }
    .btn {
        min-height: 38px;
        font-size: 14px;
    }
    // .form__inputs

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 768px) {
            gap: 20px;
        }
    }

    // .form__input

    &__input {
        display: flex;
        flex-direction: column;
        gap: 4px;
        label {
            font-size: 14px;
            font-weight: 400;
            line-height: 130%;
            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
        input {
            border: 1px solid #cdd0d6;
            border-radius: 8px;
            font-weight: 500;
            height: 53px;
            font-size: 16px;
            line-height: 120%;
            padding: 16px 20px;
            height: 53px;
            width: 100%;
            color: #0d0f1f;
            &._form-error {
                border: 1px solid #f43939;
            }
            @media (max-width: 768px) {
                font-size: 14px;
                height: 45px;
            }
            &::placeholder {
                color: #cdd0d6;
            }
        }
    }

    // .form__text

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        @media (max-width: 768px) {
            font-size: 12px;
        }
        a {
            text-decoration: underline;
            text-underline-offset: 2px;
            transition: color 0.3s;
            &:hover {
                color: #f43939;
            }
        }
    }
}
