.slider-nav {
    display: flex;
    align-items: center;
    gap: 17px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0px);
    @media (max-width: 992px) {
        display: none;
    }
    // .slider-nav__pagination

    &__pagination {
        display: flex;
        gap: 12px;
        align-items: center;
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid #dadada;
            margin: 0px 0px 0px 0px !important;
            transform: scale(1);
            opacity: 1 !important;
            transition:
                border 0.3s,
                transform 0.3s;
        }
        .swiper-pagination-bullet-active {
            border: 1px solid #8463e9;
            transform: scale(1.6);
        }
    }

    // .slider-nav__pagination-fraction

    &__pagination-fraction {
        display: flex;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 13px;
        color: #cfd5df;
        .swiper-pagination-current {
            color: #8090aa;
        }
    }
}

.arrow-next,
.arrow-prev {
    z-index: 50;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    transition: opacity 0.3s;
    img {
        width: 16px;
        height: 25px;
    }
    &:hover {
        opacity: 0.7;
    }
}

.arrow-next {
    right: -85px;
    @media (max-width: 1500px) {
        display: none;
    }
    @media (max-width: 992px) {
        display: block;
        right: 0;
    }
}
.arrow-prev {
    left: -85px;
    img {
        transform: rotate(-180deg);
    }
    @media (max-width: 1500px) {
        display: none;
    }
    @media (max-width: 992px) {
        display: block;
        left: 0;
    }
}

.swiper-button-lock {
    display: none;
}
.swiper-button-disabled {
    opacity: 0.5;
}
