:root {
  --container-width: 1317px;
  --container-padding: 20px;
  --theme-color-accent: #f13247;
  --theme-color-text-common: #8090aa;

  --font-family: "Rubik", sans-serif;
  --second-family: "Ubuntu", sans-serif;
  --third-family: "Montserrat", sans-serif;
}
